.dog-info-card {
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;}


.dog-info-ratio {
  overflow: hidden;
}

.dog-info-img {
  object-fit: cover;
}

.dog-info-title {
  font-size: 1em;
}

.dog-info-button {
  color: rgb(255, 255, 255);
  background-color: rgb(236,0,0);
  border: none;
}

.dog-info-button:active {
  color: rgb(255, 255, 255);
  background-color: rgb(54, 54, 54);
}
