.home-container {
  margin-top: 0px;
  margin-bottom: 0px;
}

.home-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-input {
  min-width: 240px;
  max-width: 21vw;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.home-button {
  background-color: rgb(33, 37, 41);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.home-button:active {
  background-color: rgb(233, 0, 0);
}
