.details-container {
  margin-top: 48px;
}

.carousel-wrapper {
  height: 48vh;
  max-width: 25vw;
  min-width: 45vh;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;  padding: 0px;
}

#carouselExampleIndicators {
  height: 100%;
}

.carousel-inner-custom {
  height: 100%;
}

.carousel-item-custom {
  height: 100%;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details-text-wrapper {
  justify-self: center;
  margin-top: 20px;
  max-width: 90vw;
}

.breed-name {
  font-size: 2.8em;
  color: rgb(9, 115, 236);
}

.characteristics-title {
  color: rgb(242, 113, 8);
  font-size: 20px;
}
